@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

:root{
    --primary: #ff6b35;
    --dark: #1a1a1a;
    --light: #f4f4f4;
    --radius: 16px;
    --shadow: 0 10px 40px rgba(0, 0, 0, 0.1 );
}

@layer base{
    body{
        @apply bg-white;

        color: #333;
        font-family: 'Poppins', sans-serif;
    }

    a{
        color: inherit;
        text-decoration: none;
    }

    *{
        @apply m-0 p-0 box-border;
    }

    img{
        max-width: 100%;
        display: block;
    }

    ul{
        list-style: none;
    }

    html{
        scroll-behavior: smooth;
    }

    header{
        position: fixed;
        inset: 0 0 auto 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px 5%;
        background-color: var(--light);
        box-shadow: var(--shadow);
        z-index: 99;
    }

    footer{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        gap: 40px;
        padding: 60px 5% 20px;
        background: var(--dark);
        color: #fff;   

        & p{
            color: grey;
        } 

        & .copy{
            grid-column: 1 / -1;
            text-align: center;
        }

        & a{
            color: var(--primary);}
    }
}

@layer utilities{
    .logo{
        font-size: 34px;
        font-weight: 700;
    }

    .btn{
        background-color: var(--primary);
        display: inline-block;
        padding: 12px 24px;
        color: #fff;
        border-radius: 8px;
        font-weight: 700;
        transition: 0.3s;
        cursor: pointer;
    }

    .btn:hover{
        filter: brightness(0.9);
        transform: translateY(-2px);
    }

    .hero{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 60px;
        max-width: 1200px;
        margin: 0 auto;
        padding: 60px 20px;

        & h1{
            font-size: 48px;
            line-height: 1.1;
            margin-bottom: 20px;
            font-weight: 700;   
        }

        & p{
            font-size: 18px;
            color: #cecece;
            margin-bottom: 30px;
        }
        & img{
            border-radius: var(--radius);
            box-shadow: 0 20px 60px rgba(255, 107, 53, 0.6 );
        }
    }

    .btn-outline{
        background: transparent;
        border: 2px solid var(--primary);
        color: var(--primary);
        font-weight: bold;
    }

    .btn-outline:hover{
        background: var(--primary);
        color: #fff;
    }

    .cardapio{
        padding: 80px 5%;
        text-align: center;

        & h2{
            font-size: 46px;
            margin-bottom: 10px;
            font-weight: 700;
        }

        & p{
            color: #333;
            margin-bottom: 50px;
        }
    }

    .menu-grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 30px;
        max-width: 1200px;
        margin: 0 auto;

        & li {
            position: relative;
            background-color: #fff;
            border-radius: var(--radius);
            overflow: hidden;
            box-shadow: var(--shadow);
            text-align: left;

            & img{
                width: 100%;
                height: 200px;
                object-fit: cover;
            }

        }

        & h2{
            padding: 20px 20px 10px 20px;
            font-size: 20px;
            font-weight: 600;
        }

        & p{
            padding: 0 20px ;
            font-size: 14px;
            color: #333;
        }

        & strong{
            display: block;
            padding: 15px 20px 0;
            font-size: 22px;
            color: var(--primary);
        }

        & .btn{
            display: block;
            margin: 15px 20px 20px 20px;
            text-align: center;
            padding: 10px;
        }

        & .err {
            margin-top: 35px;
        }
    }

    .badge{
        position: absolute;
        top: 15px;
        left: 15px;
        background-color: var(--primary);
        color: #fff;
        padding:  5px 12px;
        border-radius: 20px;
        font-size: 12px;
        font-weight: 700;
    }

    .sobre{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 60px;
        padding: 80px 5%;
        background-color: var(--light);

        & img {
            border-radius: var(--radius);
            box-shadow: var(--shadow);
            height: 700px;
            width: 700px;
            object-fit: cover;
        }

        & h2{
            font-size: 80px;
            margin-bottom: 10px;
            font-weight: 600;
        }

        & article{
            color: #333;
            margin-bottom: 20px;
        }

        & ul{
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        & p{
            font-size: 20px;
            width: 500px;
            margin-bottom: 10px;
        }

        & strong{
            color: var(--primary);
            font-size: 20px;
        }
    }

    .btn-ligth{
        background-color: #fff;
        color: var(--primary);
    }

    #cta{
        padding: 80px 5%;
        text-align: center;
        background: linear-gradient(
            135deg,
            var(--primary),
            #e55a2b
        );

        & h2{
            font-size: 45px;
            color: #fff;
            margin-bottom: 20px;
            font-weight: 600;
        }

        & p{
            color: #fff;
            margin-bottom: 30px;
            font-size: 20px;
        }
    }

    .hero-wrapper{
        background: linear-gradient(
            135deg,
            #fff9f5,
            white
        );

        padding-top: 80px;
    }

    .hero-stats{
        display: flex;
        gap: 40px;

        & li{
            display: flex;
            flex-direction: column;
            color: #333;
            font-size: 14px;
        }
        
        & strong{
            font-size: 28px;
            color: var(--primary);
        }
    }
}